<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Danubio</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Danubio</a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        {% block body %}{% endblock %}
    </div>

    <hr>
    <footer>
        <center>
            <p>
                &copy; Danubio
            </p>
        </center>
    </footer>

    <!-- Scripts  -->
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/bootstrap/js/dropdown.js') }}"></script>
</body>
</html>